<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Let us now load the ipython-sql  extension and establish a connection with the database

*   Here you will be loading the csv files into the pandas Dataframe and then loading the data into the above mentioned sqlite tables.

*   Next you will be connecting to the sqlite database  **FinalDB**.

Refer to the previous lab for hints .

<a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing_SQLite.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork22-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

In [1]:
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql

Found existing installation: SQLAlchemy 1.3.24
Uninstalling SQLAlchemy-1.3.24:
  Successfully uninstalled SQLAlchemy-1.3.24
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.24
Requirement already satisfied: ipython-sql in c:\users\dominc\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: six in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\dominc\anaconda3\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable<1 in c:\users\dominc\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dominc\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\dominc\anaconda3\lib\site-packages (from ipython-sql) (1.3.24)
Requirement already satisfied: decorator in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: stack-data in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: colorama in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: jedi>=0.16 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: pickleshare in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: matplotlib-inline in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\dominc\appdata\roaming\python\python39\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\dominc\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\dominc\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [26]:
%%capture
%load_ext sql

In [44]:
%sql sqlite:///F:sqlite_projects\chicago_data.db

In [3]:
!pip install -q pandas==1.1.5

In [4]:
import sqlite3
import pandas as pd

In [5]:
conn = sqlite3.connect('F:\sqlite_projects\chicago_data.db')

In [7]:
census_data_df = pd.read_sql("SELECT * FROM CENSUS_DATA", conn)
chicago_public_school_df = pd.read_sql("SELECT * FROM CHICAGO_PUBLIC_SCHOOLS", conn)
chicago_crime_data_df = pd.read_sql("SELECT * FROM CHICAGO_CRIME_DATA", conn)

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [45]:
%%sql 
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[(533,)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [49]:
%%sql 
SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [50]:
%%sql
SELECT Case_Number FROM CHICAGO_CRIME_DATA WHERE Description LIKE '%MINOR%'

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('HL266884',), ('HK238408',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [56]:
%%sql 
SELECT * FROM CHICAGO_CRIME_DATA WHERE primary_type = 'KIDNAPPING' AND description LIKE '%CHILD%'

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', 1792, 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, 20, 1143050, 1897546, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [57]:
%%sql 
SELECT DISTINCT primary_type AS desc_of_school_crimes 
FROM CHICAGO_CRIME_DATA WHERE Location_Description LIKE '%school%'

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the average safety score for each type of school.

In [61]:
%%sql
SELECT(CASE 
           WHEN ElementaryMiddleorHighSchool = 'ES' THEN 'Elementary School' 
           WHEN ElementaryMiddleorHighSchool = 'MS' THEN 'Middle School' 
           WHEN ElementaryMiddleorHighSchool = 'HS' THEN 'High School' 
       END) AS School_Type, 
AVG(safety_score) AS avg_safety_score 
FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY 1

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('Elementary School', 49.52038369304557),
 ('High School', 49.62352941176471),
 ('Middle School', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [65]:
%%sql
SELECT COMMUNITY_AREA_NAME, 
    PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA 
GROUP BY 1 
ORDER BY 2 DESC 
LIMIT 5

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone?

In [88]:
%%sql
SELECT Community_Area_Name, 
    ccd.Community_Area_number, 
    COUNT(ccd.Community_Area_number) AS total_crime_count 
FROM CENSUS_DATA cd 
JOIN CHICAGO_CRIME_DATA ccd 
ON cd.Community_Area_Number = ccd.Community_Area_number 
GROUP BY 2 
ORDER BY 3 DESC 
LIMIT 1

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('Austin', 25, 43)]

Double-click **here** for a hint

<!--
Query for the 'community area number' that is most crime prone.
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [91]:
%%sql
SELECT community_area_name 
FROM census_data where community_area_number = (
    SELECT community_area_number 
    FROM CENSUS_DATA 
    GROUP BY 1 
    ORDER BY 
    hardship_index DESC 
    limit 1)

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [100]:
%%sql
SELECT area_name, 
    MAX(total_crime_count) AS crime_count 
FROM (
    SELECT Community_Area_Name as Area_Name, 
        ccd.Community_Area_number, 
        COUNT(ccd.Community_Area_number) AS total_crime_count  
    FROM CENSUS_DATA cd 
    JOIN CHICAGO_CRIME_DATA ccd 
    ON cd.Community_Area_Number = ccd.Community_Area_Number 
    GROUP BY 2 
    ORDER BY 3) AS t1

 * sqlite:///F:sqlite_projects\chicago_data.db
Done.

[('Austin', 43)]

Copyright © 2020 This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                              |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>